@import "tailwindcss";
/* *{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right,#963d3d,#ffb731);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
form{
    background-color: #fff;
    width: 350px;
    height: auto;
    padding: 20px;
    border-radius: 5px;
}
h4{
    text-align: center;
    color: brown;
}
.row{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 12px;
    font-weight: normal;
    margin: 5px 0;
}
input{
    width: auto;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid brown;
    font-size: 20px;
}
button{
    margin: 10px 0;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: brown;
    color: #ffff;
}

.result-screen {
  margin-top: 20px;
  border: 1px solid brown;
  padding: 15px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 8px;
}
p{
    color: #000000;
    font-size: 20px;
} */